{% extends "base.html" %}

{% block content %}
<section class="hero">

    <h3>Bienvenido y gracias por utilizar nuestras herramientas</h3>

</section>

<section class="features">
    <div class="feature-card-right">
        <h3>Mejoramiento de Imágenes</h3>
        <p>La Inteligencia Artificial ha revolucionado la manera en que mejoramos y optimizamos imágenes. Gracias a algoritmos avanzados de aprendizaje profundo, ahora es posible aumentar la calidad de imágenes, reducir el ruido, mejorar la resolución y restaurar fotografías antiguas con un nivel de detalle sorprendente.</p>

        <p>Esta tecnología se aplica en diversos campos, desde el diseño gráfico y la fotografía hasta la medicina y la seguridad, permitiendo obtener imágenes más nítidas y precisas. Con herramientas impulsadas por IA, incluso las fotografías de baja calidad pueden transformarse en versiones mejoradas, listas para su uso profesional o personal.</p>

        <p>Si buscas mejorar la apariencia de tus imágenes, la inteligencia artificial es la solución ideal para obtener resultados impresionantes con rapidez y eficacia.</p>
        <div class="descripimage">

        </div>
        <a href="{{ url_for('mejora_imagen') }}" class="btn">Probar</a>
    </div>

    <div class="feature-card-left">
        <h3>Extractor de Paleta</h3>
        <p>Descubre Paletas de Colores desde tus Imágenes convierte cualquier imagen en una hermosa paleta de colores con nuestra herramienta especializada. Extrae los tonos clave y crea combinaciones armoniosas perfectas para diseño gráfico, decoración, branding y más.</p>

        <p>¿Cómo funciona?</p>
        <p>Sube una imagen.</p>
        <p>Analizamos los colores predominantes.</p>
        <p>Generamos una paleta equilibrada basada en la imagen.</p>
        <p>Descarga y usa tu paleta en tus proyectos creativos.</p>

        <p>Aplicaciones y Beneficios ✔ Inspiración para diseñadores. ✔ Creación de esquemas cromáticos personalizados. ✔ Uso en sitios web, publicidad y arte digital.</p>

        <p>¡Transforma imágenes en inspiración con nuestra herramienta de generación de paletas de colores!</p>
        <a href="{{ url_for('paleta_colores') }}" class="btn">Probar</a>
    </div>

    <div class="feature-card">
        <h3>Eliminar Fondo</h3>
        <p>Elimina el fondo de tus imágenes automáticamente.</p>
        <a href="{{ url_for('remove_bg') }}" class="btn">Probar</a>
    </div>

    <div class="feature-card">
        <h3>Texto a Audio</h3>
        <p>Convierte cualquier texto a audio en varios idiomas.</p>
        <a href="{{ url_for('text_to_speech') }}" class="btn">Probar</a>
    </div>

    <div class="feature-card">
        <h3>Generador QR</h3>
        <p>Crea códigos QR personalizados para tus URLs o textos.</p>
        <a href="{{ url_for('generador_qr') }}" class="btn">Probar</a>
    </div>
</section>
{% endblock %}